<div class="right">
  <div class="top">
    <button id="menu_bar">
      <span class="material-symbols-sharp">menu</span>
    </button>

    <div class="profile">
      <div class="info">
        <p><b>admin1</b></p>
        <p>Admin</p>
        <small class="text-muted"></small>
      </div>
      <div class="profile-photo">
        <img src="../../images/avatar.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="recent_updates">
    <h2>Recent Booking</h2>
    <div class="updates">
      <div class="update">
        <div class="profile-photo">
          <img src="../../images/avatar.jpg" alt="" />
        </div>
        <div class="message">
          <p><b>Minh</b> Booked flight VN123, seat 7C</p>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="../../images/avatar.jpg" alt="" />
        </div>
        <div class="message">
          <p><b>Minh</b> Booked flight VN456, seat 1B</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sales-analytics">
    <h2>Sales Analytics</h2>

    <div class="item onlion">
      <div class="icon">
        <span class="material-symbols-sharp">shopping_cart</span>
      </div>
      <div class="right_text">
        <div class="info">
          <h3>Customer Orders</h3>
          <small class="text-muted">Last seen 2 Hours</small>
        </div>
        <h5 class="danger">-17%</h5>
        <h3>09</h3>
      </div>
    </div>
    <div class="item onlion">
      <div class="icon">
        <span class="material-symbols-sharp">shopping_cart</span>
      </div>
      <div class="right_text">
        <div class="info">
          <h3>Booking Orders</h3>
          <small class="text-muted">Last seen 2 Hours</small>
        </div>
        <h5 class="success">+87%</h5>
        <h3>03</h3>
      </div>
    </div>
    <div class="item onlion">
      <div class="icon">
        <span class="material-symbols-sharp">shopping_cart</span>
      </div>
      <div class="right_text">
        <div class="info">
          <h3>Total Income</h3>
          <small class="text-muted">Last seen 2 Hours</small>
        </div>
        <h5 class="danger">+85%</h5>
        <h3>500$</h3>
      </div>
    </div>
  </div>
</div>
