<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="/userHomepage">
        <img src="/images/logo.jpg" alt="logo" class="img_logo" />
      </a>
      <a href="/userHomepage" class="logo">Q<span>Airline</span></a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <i class="ri-menu-line"></i>
    </div>
  </div>
  <ul class="nav__links" id="nav-links">
    <li><a href="/userHomepage">Home</a></li>
    <li><a href="/allFlights">Flights</a></li>
    <li><a href="/yourFlights">Your flights</a></li>
    <li><a href="/yourTickets">Your Tickets</a></li>
    <li><a href="/profile">Profile</a></li>
    <form action="/logout" method="POST">
      <a href="/login">
        <button class="btn-signin" id="signinBtn" type="submit">Logout</button>
      </a>
    </form>
  </ul>
</nav>
